html
{
    margin: 0px;
    padding: 0px;
}
body
{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Archivo Black', sans-serif;
}
.full-screen-div
{
    position: relative; 
    height: 100vh;
    width: 100%;
}

/* introduction */
.introduction
{
    background-image: url('img/353794602_2663151607156548_6065024585872771334_n.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -2;
    width: 100%;
    height: 100vh;
}
.introduction::before
{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('img/background.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.introduction-title
{
    margin-left: 4vw;
    height: 30vh;
    width: 40vw;
    color: white;
    font-size: 5vw;
    font-weight: 800;
}
.introduction-buttons
{
    height: 20vh;
    width: 30vw;
    margin-left: 4vw;
    margin-top: 20vh;
    padding-bottom: 0vh;
}

/* partners */
.partners
{
    display: flex;
    text-align: center;
}
.partners-general
{
    flex: 0.4;
}
.partners-other
{
    flex: 0.6;
    display: grid;
}
.partners-main
{

}
.partners-race
{

}
.partner-img img
{
    margin: 0 auto;
    margin-top: 10%;
    display: block;
}
.partner-img-big
{
    max-height: 20vh;
}
.partner-img-small
{
    max-height: 10vh;
}

/* events */
.events
{
    background-color: red;
}

/* circuits */
.circuits
{
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.square {
    width: 30vw; /* Adjust the width as needed, considering margins */
    height: 40vh;
    background-color: #3498db; /* Just for demonstration, you can change the color */
    margin-bottom: 10px; /* Adjust the margin as needed */
}






/* text */
.underline
{
    text-decoration: underline;
    text-decoration-color: #B50000;
}
.title
{
    color: #EA3737;
    font-size: 70px;
    font-weight: 900;
}
.subtitle
{
    color: #EA3737;
    font-size: 50px;
    font-weight: 800;
}
.text
{

}

/* footer */
.footer
{
    height: 15vh;
    width: 100%;
    background-color: #B50000;
}


/* mobile */
/* @media only screen and (max-width: 768px) {
    body {
        flex-wrap: wrap;
    }
} */